<h1>About Diet</h1>
<h4>Milk and dairy products</h4>
<p>
skimmed milk, yogurt/curd, buttermilk (chhaach), cottage cheese (paneer). These foods are high in calcium, protein and Vitamin B-12. Talk to your doctor about what to eat if you are lactose intolerant.</p><br>
<h4>Vegetables,fruits,Meat,fish and poultry</h4>
 <p>these provide vitamins, minerals and fibre.And also provide concentrated proteins. </p><br>
 <h4>Fats and oils</h4>
 <p>
 Ghee, butter, coconut milk and oil are high in saturated fats, which are not very healthy. Vanaspati oil is high in trans fats, which are as bad for you as saturated fats. A better source of fat is vegetable oils because these contain more unsaturated fat.
 </p>