<h1>Fitness Tips</h1>
<div>
<center><%= link_to "Weight Loss", weight_loss_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Yoga", yoga_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Diet", diet_path, class: "btn btn-lg btn-primary" %>
</center>
</div>