<% provide(:title, "Index") %>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
  
</head>
    <body>
	<div class="center jumbotron">
    <h1>WCESQUARE</h1>
	<h2>

    	<%= link_to "Where buyers meet sellers!!!",'#' %>
  		  
  	</h2>
	</div>

    </body>
</html>