<h1>About Weight loss</h1>
<p>
   Weight loss refers to losing weight by reducing the total body mass. This is usually done by following an exercise and diet regime and has many physical, social and psychological benefits. There are various crash/fad diets which claim to help people lose weight quickly but they are harmful because they eliminate certain nutrients resulting in decreased immunity.
</p>
<h3>Body Mass Index</h3>
<p>
   It is the measure of an individual's relative size with respect to his body mass and height.  It is used to measure if one's weight is healthy or not. It is the ratio of your body weight to the square of your height and its unit is kg/m2 . An individual is considered to be healthy and have an appropriate weight if his/her BMI is within 18.5 and 24.9. Nowadays there’s a greater tendency to measure a person’s body fat percentage which many believe is a more accurate indication of one’s health and well-being.
</p>
<h3>Basal Metabolic Rate</h3>
<p>
   Basal metabolic rate measures the metabolic rate of the body, in short it measures the amount of energy your body requires to carry out its daily functions. Calculating BMR is difficult and it is advisable to use ones available online. The result tell you the number of calories you  need to burn.
</p>