<h1>About Yoga</h1>
<h3>Yoga Precautions During Pregnancy</h3>
<p>
For the first trimester, standing Yoga Poses are advised as this will help strengthen the legs, enhance circulation, generate energy, and may reduce leg cramps.</p>
<p>During the second and third trimester, you may reduce your time spent for practicing the Asanas to prevent fatigue and overwork. Instead focus more on breathing and meditation.</p>
<p>It is also not advised to practice from the tenth through the fourteenth week of Pregnancy since these are crucial times. Do not overstretch the abdomen; the emphasis of your twisting poses should be on the shoulders and the upper back and not on the abdomen. Avoid doing inversion.
</p>
<h3>Yoga Poses During Pregnancy</h3>
<ul>
    <li>Sukhasana</li>
  <li>Shoulder lifts</li>
    <li>Neck excersises</li>
    <li>Vajrasana with ujjay</li>
    <li>NadiShodhanPranayam</li>
   <li> Meditation</li>

</ul>